* { box-sizing: border-box; margin: 0; padding: 0; }

html {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
}

h1 {
    font-size: 10vw;
    margin-bottom: 24px;
    text-decoration: underline;
}

body {
    touch-action: none;
}

#startScreen {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#setting {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    gap: 1vw;
}

#setting label {
    font-weight: bold;
}

#setting select {
    padding: 10px;
    font-size: 1rem;
    font-family: "Varela Round", sans-serif;
    border: 2px solid #000;
    border-radius: 6px;
    background: #fff;
    color: #000;
}

#setting button {
    font-family: "Varela Round", sans-serif;
    font-size: 1rem;
    padding: 10px 22px;
    cursor: pointer;
    background: #fff;
    color: #000;
    border: 2px solid #000;
    border-radius: 6px;
    box-shadow: 2px 2px black;
}

#setting button:active {
    box-shadow: none;
    transform: translate(2px, 2px);
}

#gameplayScreen {
    display: none;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.restartButton {
    font-family: "Varela Round", sans-serif;
    font-size: 1rem;
    padding: 10px 22px;
    cursor: pointer;
    background: #fff;
    color: #000;
    border: 2px solid #000;
    border-radius: 6px;
    box-shadow: 2px 2px black;
    text-align: center;
}

.restartButton:active {
    box-shadow: none;
    transform: translate(2px, 2px);
}

.restartButton:disabled {
    color: #999;
    border-color: #999;
    box-shadow: none;
    cursor: not-allowed;
}

#grid {
    display: grid;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: white;
    color: black;
    margin: 0 auto;
    padding: 0;
}

.timerlabel {
    display: inline-block;
    width: 80px;
    text-align: right;
}

.chosen {
    border: 2px solid black;
    color: black;
}

@media screen and (orientation: landscape) {
    h1 {
        font-size: 70px;
    }
    #setting {
        font-size: 5vh;
    }
}
