* { box-sizing: border-box; margin: 0; padding: 0; }

html {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
}

h1 {
    font-size: 10vw;
    margin-bottom: 24px;
    text-decoration: underline;
}

#startScreen {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#setting {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    gap: 1vw;
}

#setting label {
    font-weight: bold;
}

#setting select {
    padding: 10px;
    font-size: 1rem;
    font-family: "Varela Round", sans-serif;
    border: 2px solid #000;
    border-radius: 6px;
    background: #fff;
    color: #000;
}

#setting button {
    font-family: "Varela Round", sans-serif;
    font-size: 1rem;
    padding: 10px 22px;
    cursor: pointer;
    background: #fff;
    color: #000;
    border: 2px solid #000;
    border-radius: 6px;
    box-shadow: 2px 2px black;
}

#setting button:active {
    box-shadow: none;
    transform: translate(2px, 2px);
}

#gameplayScreen {
    display: none;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gamebuttonContainer, #gameoverbuttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15vw;
    width: 80vw;
    gap: 2vw;
}

.gameButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Varela Round", sans-serif;
    font-size: 5vw;
    color: black;
    text-align: center;
    padding: 10px 22px;
    background: #fff;
    border: 2px solid #000;
    border-radius: 6px;
    box-shadow: 2px 2px black;
}

.gameButton:active {
    box-shadow: none;
    transform: translate(2px, 2px);
}

.gameButton:disabled {
    color: #999;
    border-color: #999;
    box-shadow: none;
    cursor: not-allowed;
}

#grid {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-clip: content-box;
    color: white;
    padding: 1vw;
    aspect-ratio: 1/1;
    font-size: 6vw;
}

/* game over stuff */

#gameoverScreen {
    display: none;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#scoreDetails {
    font-size: 3vh;
}

.restartButton,
.homeButton {
    font-family: "Varela Round", sans-serif;
    font-size: 1rem;
    padding: 10px 22px;
    cursor: pointer;
    background: #fff;
    color: #000;
    border: 2px solid #000;
    border-radius: 6px;
    box-shadow: 2px 2px black;
    text-align: center;
}

.restartButton:active,
.homeButton:active {
    box-shadow: none;
    transform: translate(2px, 2px);
}

.restartButton:disabled,
.homeButton:disabled {
    color: #999;
    border-color: #999;
    box-shadow: none;
    cursor: not-allowed;
}

@media screen and (orientation: landscape) {
    h1 {
        font-size: 70px;
    }
    #setting {
        font-size: 5vh;
    }
    #grid {
        grid-template-columns: 15vh 15vh 15vh;
    }
    .cell {
        font-size: 7vh;
    }
    #gamebuttonContainer, #gameoverbuttonContainer {
        margin-top: 10vh;
    }
    .gameButton {
        font-size: 5vh;
    }
}
